* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13pt Helvetica, Arial;
  width: 100vw;
  height: 100vh;
}

ul {
  padding: 20px;
  list-style-type: none;
}

.closed audio {
  display: none;
}

.open audio {
  display: initial;
}
